.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: auto;
  justify-content: center;

  @media (max-width: 780px) {
    flex-direction: column;
  }

  .filter-section {
    width: 20%;
    border: 1px solid #d9d9d956;
    height: max-content;
    border-radius: 8px;

    @media (max-width: 780px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1024px) {
    width: 40%;
  }

  @media (max-width: 480px) {
    gap: 20px;
    width: 100%;
    .filter-section {
      width: 100%;
    }
  }
}
